html {
  font-size : 62.5%;
}
body {
  font-family : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height : 100vh;
}
.app {
  margin:0 auto;
  /* background-color:red; */
  background-color:rgb(238, 234, 234);
}
.search-icon {
  position : absolute;
  left : 3.5rem;
  top:15rem;
  width :5rem;
  margin-right:4rem;
}
*,
*::after,
*::before {
  box-sizing : border-box;
  padding : 0;
  margin:0;
}
.darkmode {
  background-color :#36454F;
  color:#fff;
}
@media (max-width:768px){
  html{
    font-size:37.25%;
  }
  
}
@media (max-width:375px){
  html{
    font-size: 33.25%;
  }
}