.searchcontainer {
    display : flex;
    justify-content :space-between;
    margin-inline :2rem;
    margin-bottom :5rem;
  
}
.searchinput {
    padding :1rem 9rem 1rem 2rem;
    
}
.select {
    padding:1rem 3rem 1rem 2rem;
}
.darkmode {
    background-color :#121212;
    color:#fff;
  }